{% extends "base.html.twig" %}  {# importo el template base #}

{# completo los bloques definidos en el template base#}

{% block title %}Agregar{% endblock %}
{% block head %}

{{ parent() }}

{% endblock %}

{% block body %}

{% block header %}
<div>
{% if usuario_logeado %}
    <a href="./index.php">Home</a> || 
    <a href="./index.php?action=mensaje_seguidos">Mensajes de seguidos</a> || 
    <a href="./index.php?action=mensaje_list">Mensajes publicos</a> || 
    <a href="./index.php?action=mensaje_add">Agregar un mensaje</a> || 
    <label>{{ usuario_logeado.nombre }} {{ usuario_logeado.apellido }}</label> || 
    <a href="./index.php?action=logout">Salir</a>
{% else %}
    <label>Ingresa para acceder a mas funcionalidades</label>
{% endif %}
</div>
{% endblock %}

<h1>Agregar publicacion:</h1>
<form action="./index.php?action=mensaje_add" method="POST">
    <label>Mensaje:</label>
    <input type="text" name="mensaje" placeholder="Ingrese un mensaje" required>
    <input type="radio" name="publico" value="privado" required> <label>Privado</label>
    <input type="radio" name="publico" value="publico"> <label>Publico</label>
    <input type="submit" value="Guardar">
</form>

{% endblock %}