<html>
	<head>
		{% block head %}
        <title>Publicaciones - {% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<header>
		
	</header>
	<body>
		{% block body %}

		{% endblock %}
	</body>
	<footer style="bottom: 0; position: fixed;">
    	{% block footer %}
        <p>Examen proyecto 15/12/18</p>
    	{% endblock %}
	</footer>
</html>